* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

.navigation {
    font-size: 2.8rem;
    background-color: #333333;
}

.navigation a:hover {
    box-shadow: 0 4px #746c6c;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin: 3rem 6rem 3rem 6rem;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.team {
    display: flex;
    flex-direction: column;
}

.team img {
border-radius: 50%; 
width: 80vw;
}

@media (min-width: 1000px) {
    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}





.navigation a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 6rem;
    min-height: 30vh;
    max-width: 100%;
    color: sienna;
    /* text-align: center; */
    background-color: skyblue;
    position: relative;
}

 h1 {
     position: relative;
     top: 250px;
     margin-left: 250px;
}
