body {
    display: flex;
    flex-direction: column;
    background: grey;
    margin: 4rem;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.team {
    display: flex;
    flex-direction: column;
}

.team figure {
margin: auto;
text-align: center;
padding: 2rem;
}

.team figcaption {
padding: 2rem;
text-align: justify;
}

.team img {
border-radius: 50%;
width: 60vw;
border: solid 4rem;
border-left-width: 1rem;
border-color: white;
//* transform: skewY(-5deg);*//
}

@media (min-width: 1000px) {
    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
