

body {
    display: flex;
    flex-direction: column;
}

.team {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.team img {
border-radius: 50%; 
width: 80vw;
}

@media (min-width: 600px) {
    .team {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}






